/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}

 .errors {
    list-style: none;
 }

 .nav-bar {
    display: flex;
    width: 100%;

 }

 .navbar > .splash {
    right: 10px;
    float: right;
 }

.sign-up-container {
    display: flex;
    justify-content: center;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .25px;
    font-family: "Hiragino Sans GB";
    box-sizing: border-box;
    margin-top: 10%;
    top: 50%;
    left: 50%;
 }
 
.sign-up-form {
    padding: 10px;
    border: solid 1px black;
 }

.login-container {
    display: flex;
    position: absolute;
    width: 100%;
}


.login-form {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    height: 100%;
    width: 50%;
}

.login-container input[type="text"], 
.login-container input[type="password"] {
    background-color: #fafafa;
    border-color: #fafafa;
    width: 70%;
    border-radius: 4px;
}

.login-container input[type="submit"] {
    width: 100px;
    box-sizing: content-box;
}

.login-form-img {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 50%;
}

.splash {
    position: absolute;
    width: 100%;
}

.splash-nav div {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.nav-links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}


.login-signup-buttons {
    display: flex;
    flex-wrap: nowrap;
    width: 200px;
    margin-right: 10%;
}

.invest-intro {
    display: flex;
}

.invest-intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-right: 70px;
    padding-top: 400px; */
}

.signup-button {
    
}