/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .errors {
    list-style: none;
 }

.sign-up-container {
    display: flex;
    justify-content: center;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .25px;
    font-family: "Hiragino Sans GB";
    box-sizing: border-box;
    margin-top: 10%;
    top: 50%;
    left: 50%;
    font-weight: 100;
 }

.sign-up-form {
    padding: 10px;
    border: solid 1px black;
 }

.login-container {
    display: flex;
    position: absolute;
    width: 100%;
}

.login-form {
    display: block;
    position: relative;
    align-items: center;
    overflow: visible;
    height: 100%;
    width: 50%;
}

.login-form-img {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 50%;
}