.ipos{
    width: 45%;
    align-content: center;
    justify-content: center;
    margin-left: 14%;
    margin-top: 3%;
    padding-bottom: 5%;
    border-bottom: .3px solid #a2a2a8e1;
}

.ipo-info{
    width: 140px;
    border: 1px solid #f4f4f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.ipo-list{
    display: flex;
    min-height: 100px;
    justify-content: space-between;
}

.ipo{
    padding: 7%;
    font-weight: 500;
    font-size: 13px;
}

.ipo-title{
    padding: 1.5%;
    font-size: 19px;
    line-height: 26px;
    font-weight: 700;
}

.ipo-date{
    font-weight: 700;
    font-size: 13px;
}

.underwriter{
    padding: 0;
    font-weight: 500;
    font-size: 13px;
}

.news-title{
    margin-left: 7%;
}