.show{
    display: block;
    animation: fade .2s linear forwards;
    background-color: rgb(255, 255, 255);
    border: 1px solid #f4f4f5;
    box-shadow: 0 3px 24px rgba(48,51,51,0.09);
    padding: 5px;
    margin-left: 140px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
    cursor: pointer;
    transition: visibility 200ms, opacity 200ms;   
    position: relative;
    z-index: 100;
}

.drop-down{
    position: fixed;
    display: inline-block;
    overflow: hidden;
}

.drop-down-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; */
}


.drop-down-button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    right: 10px;
}

.drop-down > button{
    text-decoration: none;
    color: black;
    font-weight: 650;
    font-size: 13px;
    letter-spacing: .25px;
    line-height: 19px;
}

.nav-bar-logout{
    padding: 0;
}


.drop-down > button:hover{
    color: #21ce99;
}

.drop-down > button:focus{
    outline: none;
}

.dashboard{
    display: flex;
    flex-direction: column;
}

.dash {
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 50;
    background-color: white;
}

.right-right{
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: 650;
    font-size: 13px;
    letter-spacing: .25px;
    line-height: 19px;
}

.right-right:hover{
    color: #21ce99;
}

.dash-nav{
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    position: sticky;
}

.dash-left{
    display: flex;
}

.dash-right {
    display: flex;
    width: 300px;
    margin-top: 9px;
}

.dashboard-middle {
    margin: 50px;
    /* display: flex; */
    justify-content: center;
    height: 100%;
}

.dash-left > li {
    margin-right: 30px;
}

#search:hover{
    box-shadow: 2px 2px 9px 3px #a2a2a8e1;
    transition: color 150ms ease-out;
}

.ticker-chart h3{
    width: 100%;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.30px;
    line-height: 42px;
}

.ticker-chart p {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
}



.each-ticker > a{
    text-decoration: none;
    color: black;
}


.time-frame-buttons{
    width: 220px;
    display: flex;
    justify-content: space-between;
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
}

.btns {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

.btns:hover{
    color:  #21ce99;
}

.btns:focus{
    outline: none;
}

.chart-wrap{
    border-bottom: .3px solid #a2a2a8e1;
    margin-left: 12%;
}

.ticker-about{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.10px;
    line-height: 30px;
}

.ticker-about > p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
}

.ticker-text {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
}

.ticker-text h6 {
    font-weight: 500;
}
