.show{
    display: block;
    /* width: 200px;
    overflow: hidden; */
    /* animation: fade 2s linear forwards; */
    width: 200px;
    height: 200px;
}

.drop-down{
    position: fixed;
    display: inline-block;
    overflow: hidden;
}

.drop-down-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* .drop-down-content .drop{
    height: auto;
    display: block;
    padding: 12px 16px;
    color: black;
} */

.dashboard{
    display: flex;
    flex-direction: column;
}

.dash {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.dash-nav{
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 80%;
}

.dash-right {
    /* position: absolute; */
    display: flex;
}

.dashboard-middle {
    margin: 50px;
    display: flex;
    justify-content: center;
}
