.news-box{
    width: 60%;
    align-content: center;
    justify-content: center;
    margin-left: 80px;
}

.news-image{
    height: 150px;  
    width: 300px;
}
.chart-and-news-wrap{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.chart-wrap{
    /* margin: 0 auto; */
    margin-right: 10%;
}

.news-img{
    margin-top: 10%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.news{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6%;
}

.nws{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nws-text{
    width: 75%;
    margin-left: 2%;
}