.news-box{
    width: 75%;
    align-content: center;
    justify-content: center;
    margin-left: 3%;
    margin-top: 3%;
}

.news-image{
    height: 150px;  
    width: 300px;
}
.chart-and-news-wrap{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.chart-wrap{
    /* margin: 0 auto; */
    margin-right: 10%;
}

.news-img{
    width: 800px;
    height: 120px;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 2%;
}

.news{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6%;
}

.nws{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 19px;
    color: #040D14;
    cursor: pointer;
}

.nws-text{
    width: 75%;
    margin-left: 2%;
    color: black;
    text-decoration: none;
    margin-top: 10%;
}

.nws:hover{
    background-color: rgb(247, 247, 247);
}

.nws > div {
    color: black;
    text-decoration: none !important;

}

.news-name{
    margin-top: 2%;
    margin-left: 2%;
}

