.news-box{
    width: 65%;
    align-content: center;
    justify-content: center;
    /* margin-left: 3%; */
    margin-top: 3%;
}

.news-image{
    width: 130px;
    height: 74px;;
}
.chart-and-news-wrap{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.chart-wrap{
    margin-right: 38%;
}

.news-img{
    /* width: 800px; */
    /* height: 120px; */
    overflow: hidden;
    border-radius: 8px;
    margin-right: 2%;
}

.news{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6%;
}

.nws{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 19px;
    color: #040D14;
    cursor: pointer;
    border-bottom: .3px solid #a2a2a8e1;
}

.nws-text{
    width: 75%;
    margin-left: 2%;
    color: black;
    text-decoration: none;
    margin-top: 10%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: .3px;
    color: rgb(23, 23, 24);
    text-decoration: unset;
}

.nws:hover{
    background-color: rgb(247, 247, 247);
}

.nws > div {
    color: black;
    text-decoration: none !important;

}

.news-name{
    margin-top: 2%;
    margin-left: 2%;
}

.news-pic{
    /* width: 50%; */
    width: 28%;
}

.news-text{ 
    /* width: 50%; */
    width: 81%;
}