 /* SIGNUP PAGE START */

 .sign-up-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .25px;
    box-sizing: content-box;
 }
 
.sign-up-form {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-basis: 50%;
    white-space: nowrap;
    /* margin-top: 10%;
    top: 50%;
    left: 50%; */
    /* transform: translate(0%, -5%); */
    /* margin: 50px; */
    align-items:center;
    flex-direction: column;
 }

.sign-up-form > .names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.inputs {
    width: 100%;
    padding-top: 10px; 
    padding-bottom: 10px; 
    box-sizing: border-box;
}

 .errors {
    list-style: none;
 }

.signup-continue-button {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    background-color: #21ce99;
    border-color: #21ce99;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    font-size: 13px;
}

.login, a:link{
    text-decoration: none;
    color: #21ce99;
}

/* SIGNUP PAGE END */
