 /* SIGNUP PAGE START */

 .sign-up-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .25px;
    box-sizing: content-box;
 }
 
.sign-up-form {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-basis: 50%;
    white-space: nowrap;
    /* margin-top: 10%;
    top: 50%;
    left: 50%; */
    /* transform: translate(0%, -5%); */
    /* margin: 50px; */
    align-items:center;
    flex-direction: column;
 }

 .money-move{
     display: flex;
     justify-content: space-between;
     width: 400px;
     font-size: 36px;
     font-weight: 100;
     margin: 0 0 12px;
 }

 .sign-up-form p {
    font-size: 18px;
    font-weight: 100;
    margin: 0; 
    margin-bottom: 20px;
 }

.sign-up-form > .names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.inputs {
    width: 100%;
    padding-top: 15px; 
    padding-bottom: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid .5px #cbcbcd;
}

.inputs::placeholder{
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 17px;
    font-weight: 200;
    color: #cbcbcd;
}

.fname {
    margin-right: 10px;
}

.lname {
    margin-left: 10px;
}

 .errors {
    list-style: none;
 }

.signup-continue-button {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    background-color: #21ce99;
    border-color: #21ce99;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    font-size: 18px;
}

.signup-continue-button:hover{
    background-color: #1aa278;
    border-color: #199972;
}

.login{
    /* text-decoration: underline; */
    color: #21ce99;
}

.login:hover{
    /* text-decoration: none; */
    color: #1ae9aa;
}


.sign-up-container input[type="text"]:focus, 
.sign-up-container input[type="password"]:focus {
    border: .5px solid #21ce99;
    transition: .25s;
}

/* SIGNUP PAGE END */
