
/* SPLASH PAGE START */

/* @media only screen and (min-width: 760px) { */

.splash {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: stretch;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.splash-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.splash-header {
    display: flex;
    width: 350px;
    justify-content: space-evenly;
}

.splash-header li {
    width: 60px;
}

.personal-buttons {
    cursor: pointer;
    display: flex;
    width: 225px;
    align-content: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 8px;
    width: 160px;
    justify-content: space-between;
}

/* .login-signup-buttons {
    display: flex;
    flex-wrap: nowrap;
} */

.invest-intro {
    display: flex;
}

.invest-intro-text {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.invest-intro-text h1 {
    font-size: 46px;
    font-weight: 700;
    /* white-space: nowrap; */
    margin-bottom: 36px;
}

.invest-intro-text p {
    font-size: 16px;
    margin-bottom: 36px;
    line-height: 26px;
}

.login-button {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.nav-left {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.signup-button {
    width: 75px;
    box-sizing: content-box;
    background-color: #21ce99;
    border-color: #21ce99;
    color: white;
    font-weight: 700;
    padding: 15px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}


.phone-image{
    display: block;
    /* max-height: 70vh;
    max-width: 50vw; */
    opacity: 1;
    animation: fade 5s ease;
    margin-bottom: 80px;
    margin-left: 450px;
}

.cash-management-image {
    display: flex;
    margin: 0 auto;
}

/* allows for gradual transition from first to second */
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.investment-types {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.investment-types div {
    margin-left: 50px;
    margin-right: 50px;
}

.investment-types h3 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 900;
}

.investment-types p,
.no-manual-text p,
.market p,
.phones p,
.sipc-text p,
.get-started p{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .5px;
}

.no-manual {
    display: flex;
}

.no-manual-text h3,
.market h3,
.phones h3,
.sipc-text h3,
.get-started h3{
    font-size: 46px;
    font-weight: 700;
    /* white-space: nowrap; */
    margin-bottom: 36px;
}

.no-manual-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 90px;
    width: 500px;
}

.phones {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    background-color: #040d14;
    overflow: hidden;
    height: 500px;
}

.phones-image {
    position: absolute;
    top: 20%;
    left: -20%;
    transform: translateY(-40%);
}

.phones-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 300px;
    margin-left: 1000px;
    margin-top: 150px;
    z-index: 1;
}

.market-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 400px;
}

.market {
    display: flex;
    margin-right: 200px;
}

.sipc {
    position: relative;
    display:flex;
    justify-content: center;
    background-color: #040d14;
    color: white;
    height: 800px; 
    align-items: center;
}

.sipc-text {
    width: 650px;
    position: absolute;
    margin-top: 150px;
    text-align: center;
}

.sipc-image{ 
    position: absolute;
    margin-top: -150px;
}

.get-started {
    position: relative;
    background-color: #21ce99;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

.get-started-text {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    width: 700px;
}

.signup-button-bottom {
    cursor: pointer;
    width: 75px;
    box-sizing: content-box;
    background-color: white;
    border-color: white;
    color: #21ce99;
    font-weight: 700;
    padding: 15px;
    border-radius: 25px;
    font-size: 15px;
    text-align: center;
}

/* } */
/* filter: brightness(90%) */
/* SPLASH PAGE END */
