
.dashboard {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    /* background-color: #1b1b1d; */
    /* color: white; */
    position: relative;

}

.ticker-index {
    position: fixed;
    box-shadow: 0 3px 24px rgba(48,51,51,0.09);
    border-color: #f4f4f5;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* right: 3%; */
    margin-top: 50px;
    margin-left: 40px;
    display: inline-block;
    align-items: center;
    /* width: 225px; */
    /* max-height: 600px; */
    max-height: 815px;
    overflow-y: scroll;
    background: white;
    box-sizing: border-box;
    overflow-y: scroll;
    z-index: 1;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.01), 0 3px 24px rgba(48,51,51,0.09);
    width: 265px;
    right: 22%;
}

.stock-list, .watchlist{

    border-bottom: 1px solid #f4f4f5;
    margin-bottom: 0;
}


.watchlist{
    font-weight: 500;
    /* cursor: pointer; */
    letter-spacing: 1px;
    line-height: 19px;
    /* margin-left: 8%; */
    padding: 2%;
    padding: 14px 24px 14px;
}


::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
    background: #FF0000;
} */

.watchlist-ticker{

    padding-left: 10%;
    padding-right: 10%;
}

.each-ticker:hover{
    background-color: rgb(247, 247, 247);
}

.each-ticker{

    cursor: pointer;
    height: 60px;
    padding: 2%;
    padding: 4px 24px 0;
}

.each-ticker > a > p{
    display: flex;

}

/* .block-paddings {
    display: block;
    padding-left: 6px;
    padding-right: 6px;
}


.watchlists{
    width: 100%;
    padding: 0;
    margin: 0;
} */

.each-ticker a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: .25px;
    line-height: 19px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticker-chart {
    margin-bottom: 44px;
    margin-top: 9%;
}

.mini-chart{
    margin: 0;
}

.ticker-info  {
    font-weight: 200;
    letter-spacing: 0;
    line-height: 22px;
    font-size: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

.ticker-about {
    width: 100%;
    margin: 0 0 24px;
    max-width: 570px;
}

.ticker-text {
    display: flex;
    flex-wrap: wrap;
    width: 676px;
    padding-top: 18px;
}

.ticker-text div {
    width: 25%;
    box-sizing: border-box;
}

.ticker-text p {
    margin-left: 0;
    margin-bottom: 12px;
}



/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky .links {
    padding-top: 60;
} */

.company-info{
    top: -80px;
}

.company-name{
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.30px;
    line-height: 50px;
    margin: 0;
}



.chart-info-wrap {
    width: 85%;
    margin: 0 auto;
}